html, 
body {
  min-width: 1600px;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'PT Sans Narrow', "Arial", sans-serif;
}

* {
  7outline: 1px solid red;
}

* {
  box-sizing: border-box;
}

ul, h, li, p, fieldset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1600px;
  margin: 0px auto;
  padding: 20px;
  outline-color: yellow;
}

header {
  min-height: 100px;
  background-color: #333333;
  margin-bottom: 10px;
}

.main-header {
  display: flex;
}

.main-header h1 {
  width: 100%;
  margin: 30px auto;
  font-size: 60px;
  text-align: center;
  color: #ffffff
}

.projects {

}

.project-list {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px;
  width: 400px;
  height: 600px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  transition: transform, box-shadow, 0.2s;
}

.project-item:hover {
  transform: ;
  transform: scale(1.1);
  transition: transform, box-shadow, 0.2s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}

.project-item-link {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: -25px;
}

.project-item fieldset {
  display: block;
}

.project-title-link {
  display: block;
  color: #ffffff;
  font-size: 48px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  background-color: rgba(220, 220, 220, 1);
  z-index: 1;
}

.project-item table {
  display: block;
  width: 96%;
  position: absolute;
  border: 1px solid rgba(180, 180, 180, 1);
  border-bottom: none;
  left: 8px;
  bottom: 0;
  background-color: #ffffff;
  border-radius: 5px 5px 0px 0px;
  opacity: 0;
  border-collapse: collapse;
}

.project-item td:first-child {
  vertical-align: top;
  padding-left: 5px;
  padding-right: 10px;
}

.description td {
  padding-bottom: 5px;
}

.project-item:hover table {
  display: block;
  animation: hover 0.5s forwards;
  animation-delay: 0.6s;
}

@keyframes hover {

  0% {
    opacity: 0;
  }

  100% {
    transform: translateY(-60px);
    opacity: 1;
  }
}

/* -----------PROJECTS------------- */
/* -----------PROJECTS------------- */
/* -----------PROJECTS------------- */

.project-keksby {
  display: block;
  margin: 0 auto;
  width: 170%;
  margin-top: -2px;
  margin-left: -140px;
}

.project-nerds {
  display: block;
  margin: 0 auto;
  width: 120%;
  margin-top: -2px;
  margin-bottom: -2px;
  margin-left: -45px; 
}

.project-barbershop {
  display: block;
  margin: 0 auto;
  width: 260%;
  margin-top: -2px;
  margin-left: -327px; 
}

/* -----------PROJECTS------------- */
/* -----------PROJECTS------------- */
/* -----------PROJECTS------------- */

main {
  margin-bottom: 10px;
}

footer {
  min-height: 150px;
  background-color: #333333;
}