html, 
body {
  width: 100%;
  min-width: 1000px;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'PT Sans Narrow', "Arial", sans-serif;
}

* {
  /* outline: 1px solid red; */
}

* {
  box-sizing: border-box;
}

ul, h, li, p, fieldset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1600px;
  min-width: 1000px;
  margin: 0px auto;
  padding: 20px;
  outline-color: yellow;
}

header {
  min-height: 100px;
  background-color: #333333;
  margin-bottom: 10px;
}

.main-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main-header h1 {
  width: 100%;
  margin: 30px auto;
  font-size: 60px;
  text-align: center;
  color: #ffffff
}

.projects {

}

.project-list {
  position: relative;
  max-width: 1440px;
  min-width: 960px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-item {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px;
  width: 400px;
  height: 600px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  transition: box-shadow, 0.2s, -webkit-transform;
  transition: transform, box-shadow, 0.2s, -webkit-transform;
  transition: transform, box-shadow, 0.2s;
}

.project-item:last-child {
  margin-right: 520px;
}

.project-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  transition: box-shadow, 0.2s, -webkit-transform;
  transition: transform, box-shadow, 0.2s, -webkit-transform;
  transition: transform, box-shadow, 0.2s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}

.project-item-link {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: -0px;
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

.project-item-link::-webkit-scrollbar  {
  width: 0px;
}

.project-title-link {
  display: block;
  color: #ffffff;
  font-size: 48px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  -weight: bold;
  background-color: rgba(220, 220, 220, 1);
  z-index: 2;
}

.specs {
  display: none;
  width: 96%;
  position: absolute;
  border: 1px solid rgba(180, 180, 180, 1);
  border-bottom: none;
  left: 8px;
  bottom: 0;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 5px 5px 0px 0px;
  opacity: 0;
  border-collapse: collapse;
}

.specs td:first-child {
  vertical-align: top;
  padding-left: 5px;
  padding-right: 10px;
}

.description td {
  padding-bottom: 5px;
}

.project-item:hover table {
  display: block;
  -webkit-animation: hover 0.5s forwards;
          animation: hover 0.5s forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.project-item:hover .project-title-link {
  color: #000000;
  transition: color 1.5s 0.6s;
}

@-webkit-keyframes hover {

  0% {
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
    opacity: 1;
  }
}

@keyframes hover {

  0% {
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
    opacity: 1;
  }
}

/* -----------PROJECTS------------- */
/* -----------PROJECTS------------- */
/* -----------PROJECTS------------- */

.project-sedona {
  display: block;
  width: 100%;
}

.project-gllacy {
  display: block;
  width: 100%;
}

.project-keksby {
  display: block;
  width: 100%;
  margin-right: 200px;
}

.project-nerds {
  display: block;
  width: 100%;
}

.project-barbershop {
  display: block;
  width: 100%;
}

/* -----------PROJECTS------------- */
/* -----------PROJECTS------------- */
/* -----------PROJECTS------------- */

main {
  margin-bottom: 10px;
}

footer {
  min-height: 150px;
  background-color: #333333;
}

/* -----------------MEDIA----------------- */

/* @media screen and (max-width: 1440px) {
  .main-header h1 {
    font-size: 80px;
    
  }
  .project-list {
    width: 100%;
  }

  .project-item {
    margin: 40px;
    width: 700px;
    height: 1030px;
  }

  .project-title-link {
    font-size: 68px;
  }

  .specs {
    font-size: 42px;
    left: 15px;
    bottom: 0;
  }

  @-webkit-keyframes hover {

    0% {
      opacity: 0;
    }

    100% {
      -webkit-transform: translateY(-87px);
              transform: translateY(-87px);
      opacity: 1;
    }
  }

  @keyframes hover {

    0% {
      opacity: 0;
    }

    100% {
      -webkit-transform: translateY(-87px);
              transform: translateY(-87px);
      opacity: 1;
    }
  }
} */