@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/ptsansnarrow.woff2") format("woff2"), url("../fonts/ptsansnarrow.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/ptsansnarrowbold.woff2") format("woff2"), url("../fonts/ptsansnarrowbold.woff") format("woff");
}

body {
  min-width: 320px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #f7f5f1;
  font-style: normal;
  background-color: #292929;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden,
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: 768px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    opacity: 0;
    background-color: #000000;
    transition: opacity 0.7s;
  }

  .overlay-shown {
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }
}

main {
  display: block;
}
