$full_white: #ffffff;
$full_black: #000000;
$color-text__30: #303030;
$color-text__33: #333333;
$color-text__66: #666666;
$color_bg-plate: #d0ebfd;
$color_price-btn: #0064c1;
$color_bth_grad1: #ff7500;
$color_bth_grad2: #ffa600;
$color-big-numbers: #73c6fd;


$color_f9: #f98900;
$color_f2: #f2f2f2;
$color_9b: #9b9b9b;
$color_7a: #a7a7a7;
$color_15: #151611;
$color-30: #303030;


