$tablet-width: 660px;
$tablet: "(min-width: 660px)";

$desktop-width: 1200px;
$desktop: "(min-width: 1200px)";

$mobile-width-only: 559px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$col: rgba(255,0,0,0.2);

